<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <title>Introduction</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <!-- List Vue-->
      <div class="col-xs-12" id="game-list">
        <ul v-if="success">
          <li v-for='game in games'> {{ game }}</li>
          <input type="text" v-model="newGame"></input>
          <button @click="addGame">Add Game</button>
        </ul>
      </div>
    </div>

    <div class="row">
      <!-- Timer -->
      <div class="timer">
        <p> Mins {{ minutes}} : Seconds {{ seconds }}</p>
      </div>
    </div>
  </div>

  <script src="../node_modules/vue/dist/vue.js "></script>
  <script src="instances.js"></script>
</body>

</html>