<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <title>Introduction</title>
</head>

<body>
  <div class="container">
    <div class="row">

      <!-- Computed Properties-->
      <div id="test">
        <input type="text" v-model="chosenClass" placeholder="put your class here">
        <p :class="theClass"> Hey i'm here</p>
      </div>

      <!-- Watcher-->
      <div id="test2">
        <input type="text" v-model="theClass" placeholder="put your class here">
        <p :class="theClass"> Hey i'm here</p>
      </div>

      <script src="../node_modules/vue/dist/vue.js "></script>
      <script src="Computed-Properties-Watchers.js"></script>
</body>

</html>